<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Cinephile :: Movie Details</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/layout.css"
          th:href="@{/css/layout.css}"
          rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>

    <style>
        .wrapper {
        width:  800px;
        margin: 0
        auto;
        }

        .header

        .footer

        .content-wrapper {
        float:   left;
        width:   600px;
        margin:  5px;
        display: block;
        clear:   both;
        }

        .sidebar-left {
        float: left;
        width: 90px;
        }

        .sidebar-right {
        float: left;
        width: 90px;
        }

        .content {
        float: left;
        }

        body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
        }
    </style>
</head>

<body>
<div th:replace="fragments/header :: header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper">
        <div class="header"></div>
        <div class="content-wrapper">
            <div class="sidebar-left"></div>
            <div class="content">
                <div id="movieDetails" th:object="${movie}">
                    <h1 id="title" th:text="*{title}">[Movie Title]</h1>
                    <p>Director: <span id="director" th:text="*{director}">[Director]</span>.</p>
                    <p>Year: <span id="year" th:text="*{year}">[Runtime]</span>.</p>
                </div>
            </div>
        </div>
        <div class="sidebar-right"></div>
    </div>
    <div id="footer"></div>
</div>

</body>
</html>