<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/js/bootstrap.min.js"
          th:href="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>

<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My project</a>
        </div>
        <div id="navi" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="home"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{autoconfig}">AutoConfig</a></li>
                <li><a th:href="@{beans}">Beans</a></li>
                <li><a th:href="@{configprops}">ConfigProps</a></li>
                <li><a th:href="@{dump}">Dump</a></li>
                <li><a th:href="@{env}">ConfigEnv</a></li>
                <li><a th:href="@{health}">Health</a></li>
                <li><a th:href="@{info}">Info</a></li>
                <li><a th:href="@{metrics}">Metrics</a></li>
                <li><a th:href="@{mappings}">Mappings</a></li>
                <li><a th:href="@{trace}">Trace</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
</body>
</html>