
.wrapper {
    width:  800px;
    margin: 0
    auto;
}

.header

.footer

.content-wrapper {
    float:   left;
    width:   600px;
    margin:  5px;
    display: block;
    clear:   both;
}

.sidebar-left {
    float: left;
    width: 90px;
}

.sidebar-right {
    float: left;
    width: 90px;
}

.content {
    float: left;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}