<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Cinephile :: Movies</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/layout.css"
          th:href="@{/css/layout.css}"
          rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>

    <style>
        .wrapper {
        width:  800px;
        margin: 0
        auto;
        }

        .header

        .footer

        .content-wrapper {
        float:   left;
        width:   600px;
        margin:  5px;
        display: block;
        clear:   both;
        }

        .sidebar-left {
        float: left;
        width: 90px;
        }

        .sidebar-right {
        float: left;
        width: 90px;
        }

        .content {
        float: left;
        }

        td {
        padding: 8px;
        }

        th {
        padding: 8px;
        }

        body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
        }
    </style>
</head>

<body>
<div th:replace="fragments/header :: header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper">
        <div class="header"></div>
        <div class="content-wrapper">
            <div class="sidebar-left"></div>
            <div class="content">
                <h1>Welcome to Cinephile</h1>
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Director</th>
                    </tr>
                    <tr id="movies" th:each="movie : ${movies}">
                        <td ><a th:href="@{/__${movie.title}__}" th:text="${movie.title}">[Title]</a></td>
                        <td th:text="${movie.year}">[Year]</td>
                        <td th:text="${movie.director}">[Director]</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sidebar-right"></div>
    </div>
    <div id="footer"></div>
</div>

</body>
</html>